.diver-line {
  background-color: #134e48;
  height: 1px;
  width: calc(100% - 32px);
  margin: 16px 16px;
}

.sidebar-menu {
  .data-\[active\=true\]\:bg-sidebar-accent[data-active='true'] {
    span {
      color: #000;
    }
    svg {
      path {
        fill: hsl(var(--sidebar-background));
      }
    }
  }
}

.sidebar-menu-btn {
  span {
    color: #fff;
  }
  &:hover,
  &.active {
    span {
      color: #000;
    }
    svg {
      path {
        fill: hsl(var(--sidebar-background));
      }
    }
  }
}
